{{>navbar}}
<div class="container">
    <div class="podcast__header__rating">
        <img class="podcast__header__img" src="{{podcastDB.image}}" alt="podcast_image">
        <div class="podcast__header__rating__details">
            <h1>{{podcastDB.title}}</h1>
        </div>
    </div>

    <div class="podcast-profile-comment">
        <div class="podcast-profile-comment-user">
            <img  src={{userDB.profilePicture}} alt="">
            <p>{{userDB.firstName}} {{userDB.lastName}}</p>
        </div>

        <form class="podcast-profile-comment-form" action="/podcast/{{podcastDB._id}}/comment/{{commentDB._id}}/edit" method="POST">
            <textarea class="podcast-profile-comment-form-content" name="content" value="{{commentDB.content}}" />{{commentDB.content}}</textarea>
            <button class="button-comment" type="submit">Save Changes</button>
        </form>
    </div>
</div> <!-- /container -->