{{>navbarsearch}}

<div class="container">
    <div class="genres">
        <div class="genres__slider">
                <a href="/podcasts/Business">
                    <div class="genres__slider__bubble">
                        <img src="../images/business.jpg" alt="Business podcasts">
                        <p>Business</p>
                    </div>
                </a>
                <a href="/podcasts/Games">
                    <div class="genres__slider__bubble">
                        <img src="../images/games.jpg" alt="Games podcasts">
                        <p>Games</p>
                    </div>
                </a>
                <a href="/podcasts/Science">
                    <div class="genres__slider__bubble">
                        <img src="../images/science.jpg" alt="Science podcasts">
                        <p>Science</p>
                    </div>
                </a>
                <a href="/podcasts/Sports">
                    <div class="genres__slider__bubble">
                        <img src="../images/sports.jpg" alt="Sports podcasts">
                        <p>Sports</p>
                    </div>
                </a>
                <a href="/podcasts/Technology">
                    <div class="genres__slider__bubble">
                        <img src="../images/technology.jpg" alt="Technology podcasts">
                        <p>Technology</p>
                    </div>
                </a>
        </div><!-- /slides -->
    </div><!-- /genres__slider -->
    

    {{#if loggedUser}}
        <h2>Based on your Preferences</h2>
        {{else}}
        <h2>Most Recent</h2>
    {{/if}}

    <div class="card__container">
        {{#each podcastsDB}}
        <a class="card__podcast" href="/podcasts/profile/{{_id}}">
            <div class="card__podcast__image">
                <img class="card__podcast__image_url"src="{{image}}" alt="{{title}}">
            </div>
            <div class="card__podcast__content">
                <h2>{{title}}</h2>
                <p>{{author}}</p>
            </div>
        </a>
        {{/each}}
    </div> <!-- /card__container -->
</div><!-- /container -->