{{>navbarsearch}}

<div class="container">
    <div class="genres">
        <div class="genres__slider">
                <a href="/podcasts/Business" id="business">
                    <div class="genres__slider__bubble">
                        <img src="../images/podcast-icon.png" alt="">
                        <p>Business</p>
                    </div>
                </a>
                <a href="/podcasts/Games" id="games">
                    <div class="genres__slider__bubble">
                        <img src="../images/podcast-icon.png" alt="">
                        <p>Games</p>
                    </div>
                </a>
                <a href="/podcasts/Science" id="science">
                    <div class="genres__slider__bubble">
                        <img src="../images/podcast-icon.png" alt="">
                        <p>Science</p>
                    </div>
                </a>
                <a href="/podcasts/Sports" id="sports">
                    <div class="genres__slider__bubble">
                        <img src="../images/podcast-icon.png" alt="">
                        <p>Sports</p>
                    </div>
                </a>
                <a href="/podcasts/Technology" id="technology">
                    <div class="genres__slider__bubble">
                        <img src="../images/podcast-icon.png" alt="">
                        <p>Technology</p>
                    </div>
                </a>
        </div><!-- /slides -->
    </div><!-- /genres__slider -->
    

    {{#if loggedUser}}
        <h2>Based on your Preferences</h2>
        {{else}}
        <h2>Most Recent</h2>
    {{/if}}

    <div class="card__container">
        {{#each podcastsDB}}
        <a class="card__podcast" href="/podcasts/profile/{{_id}}">
            <div class="card__podcast__image">
                <img class="card__podcast__image_url"src="{{image}}" alt="{{title}}">
            </div>
            <div class="card__podcast__content">
                <h2>{{title}}</h2>
                <p>{{author}}</p>
            </div>
        </a>
        {{/each}}
    </div> <!-- /card__container -->
</div><!-- /container -->