<div class="home-container">
    <form class="search-box" action="/podcasts/search" method="POST">
        <input type="search" results="5" name="keywords" class="searchInput" placeholder="Type person, topic, keyword" required
        inputmode="search">
        <button type="submit">
            <i class="fa fa-search icon" aria-hidden="true" style="color:#fff"></i>
        </button>
    </form>
    <div class="genres-container">
        {{#each genresDB}}
        <ul class="genres-container__ul">
            <a href="/podcasts/{{this}}">
                <div class="genres-container__ul__bubble">
                    <img src="../images/podcast-icon.png" alt="">
                    <p> {{this}} </p>
                </div>
            </a>
        </ul>
        {{/each}}
    </div>
    <div class="card__container">
        {{#each podcastsDB}}
        <a class="card__podcast" href="/podcasts/profile/{{_id}}">
            <div class="card__podcast__image">
                <img class="card__podcast__image_url"src="{{image}}" alt="podcast_image">
            </div>
            <div class="card__podcast__content">
                <h1 class="title">{{title}}</h1>
                <p class="subtitle">{{author}}</p>
            </div>
        </a>
        {{/each}}
    </div>
</div>