{{>navbarsearch}}

<div class="container">
    <div class="genres-container">
        {{#each genresDB}}
        <ul class="genres-container__ul">
            <a href="/podcasts/{{this}}">
                <div class="genres-container__ul__bubble">
                    <img src="../images/podcast-icon.png" alt="">
                    <p> {{this}} </p>
                </div>
            </a>
        </ul>
        {{/each}}
    </div>
    <div class="card__container">
        {{#each podcastsDB}}
        <a class="card__podcast" href="/podcasts/profile/{{_id}}">
            <div class="card__podcast__image">
                <img class="card__podcast__image_url"src="{{image}}" alt="{{title}}">
            </div>
            <div class="card__podcast__content">
                <h2>{{title}}</h2>
                <p>{{author}}</p>
            </div>
        </a>
        {{/each}}
    </div> <!-- /card__container -->
</div>