{{>navbar}}
 <div class="container">
    <h2>Favourites!</h2>
    <div class="card__container">
      {{#each favouritesDB}}
        <a class="card__podcast" href="/podcasts/profile/{{this.podcastID._id}}">
            <div class="card__podcast__image">
                <img class="card__podcast__image_url"src="{{this.podcastID.image}}" alt="{{this.podcastID.title}}">
            </div>
            <div class="card__podcast__content">
                <h2 class="h2--small">{{{this.podcastID.title}}}</h2>
                <p class="subtitle">{{this.podcastID.author}}</p>
            </div>
            <form action="/favourites/{{this.podcastID._id}}/delete" method="POST">
                <button class="trash-delete"><i class="fas fa-trash-alt fa-lg" style="color:#8E1515"></i></button>
            </form>
        </a>
      {{/each}}
    </div>
 </div> <!-- /container -->