<div class="profile-container">
    <div class="profile-info">
        <div class="profile-picture">
            <img class="avatar-img" src="./images/avatar-icon.png" alt="{{userFromDB.firstName}} {{userFromDB.lastName}} Podapp profile.">
        </div>
        <div class="profile-details">
            <h1>{{userFromDB.firstName}} {{userFromDB.lastName}}</h1>
            <h2>Favourite Genres</h2>
                <ul class="profile-preferences-ul">
                    <li class="profile-preferences-li">|</li>
                {{#each userFromDB.preferences}}
                    <li class="profile-preferences-li"><a href="/podcasts/{{this}}"></a>{{this}} |</li>
                {{/each}}
                </ul>
            <a class="button-auth button-inline" href="/profile/edit">Edit profile</a>
        </div>
    </div> <!-- /profile-info -->
    <div class="profile-statistics">
        <div class="stats">
            <img class="icon-img" src="/images/favorite.png" alt="Favorite podcast icon">
            <p class="stats-subtitle"><b>8</b> Favourites</p>
            <a class="button-auth button-inline" href="/favourites">Favourites</a>
        </div>
        <div class="stats">
            <img  class="icon-img" src="/images/playlist-icon.png" alt="Playlist list icon">
            <p class="stats-subtitle"><b>2</b> Playlist</p>
            <a class="button-auth button-inline" href="#">Playlist</a>
        </div>
        <div class="stats">
            <img class="icon-img" src="/images/comments-icon.png" alt="Comments on podcast icon">
            <p class="stats-subtitle"><b>4</b> Comments</p>
            <a class="button-auth button-inline" href="#">Comments</a>
        </div>
    </div> <!-- /profile-statistics -->
    <div class="profile-last-saved">
        <h2>Last Saved Podcast</h2>
        <div id="podcasts">
            <ul>
                <a href="/podcasts/profile/{{podcastID._id}}">
                    <img src="{{podcastID.image}}" alt="">
                    <h2>{{podcastID.title}}</h2>
                    <p>{{podcastID.author}}</p>
                </a>
            </ul>
        </div> <!-- /podcast -->
    </div> <!-- /profile-last-saved -->
</div> <!-- /profile-container -->

