{{>navbar}}

<div class="container">
    <div class="profile__info">
        <div class="profile__info__picture">
            <img class="avatar-img" src={{data.userInfo.profilePicture}} alt="User Podapp profile.">
            <div class="profile__info__picture__edit">
              <button class="btn-edit" onclick="editImgDropDown()">
                <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16" class="octicon octicon-pencil">
                    <path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path>
                     </svg>
               </button>
                <form id="dropDown-btn" class="dropdown-content" action="/profile/edit/picture" method="POST" enctype="multipart/form-data">
                    <input class="input-file" type="file" name="image" id="image-input" />
                    <input type="text" name="existingImage" hidden id="" value="{{data.userInfo.profilePicture}}">
                    <div class="pop-up__buttons">
                        <button type="submit" class="button inline-block">Save</button>
                        <button class="button inline-block cancel"  onclick="cancelChanges()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="profile__details">
            <h1>{{data.userInfo.firstName}} {{data.userInfo.lastName}}</h1>
            <p class="bold">Favourite Genres</p>
                <ul class="profile__details__ul">
                {{#each data.userInfo.preferences}}
                    <a class="li__link" href="/podcasts/{{this}}"><li>#{{this}}</li></a>
                {{/each}}
                </ul>
            <a class="button" href="/profile/edit">Edit profile</a>
        </div>
    </div> <!-- /profile-info -->
    <div class="profile__statistics">
        <div class="stats">
            <img class="stats__img" src="/images/favorite.png" alt="Favorite podcast icon">
            <p class="medium">{{countStats data.favouritesArray}}</p>
            <p class="medium"> Favourites</p>
        </div>
        <div class="stats">
            <img class="stats__img" src="/images/comments-icon.png" alt="Comments on podcast icon">
            <p class="medium">{{countStats data.commentsArray}}</p>
            <p class="medium"> Comments</p>
        </div>
        <div class="stats">
            <img class="stats__img" src="/images/rating-icon.png" alt="Ratings on podcast icon">
            <p class="medium">{{countStats data.ratingsArray}}</p>
            <p class="medium"> Ratings</p>
        </div>
    </div> <!-- /profile-statistics -->
    <div class="profile__podcast">
    {{#if lastSaved }}
        <h2>Last Saved Podcast</h2>
            <a class="card__podcast" href="/podcasts/profile/{{data.lastFavourited._id}}">
              <div class="card__podcast__image">
                  <img class="card__podcast__image_url"src="{{data.lastFavourited.image}}" alt="{{data.lastFavourited.title}}">
              </div>
              <div class="card__podcast__content">
                  <h3>{{data.lastFavourited.title}}</h3>
                  <p>{{data.lastFavourited.author}}</p>
              </div> 
            </a> <!-- /card__podcast -->  
    {{else }}
        <h2>3 Can't-Miss Podcasts</h2>
            {{#each podcastsDB }}
              <a class="card__podcast" href="/podcasts/profile/{{_id}}">
                <div class="card__podcast__image">
                    <img class="card__podcast__image_url"src="{{image}}" alt="{{title}}">
                </div>
                <div class="card__podcast__content">
                    <h3>{{title}}</h3>
                    <p>{{author}}</p>
                </div> 
              </a> <!-- /card__podcast -->  
             {{/each}}       
    {{/if}}
    </div> <!-- /profile-last-saved -->
</div> <!-- /container -->

