{{>navbar}}

<div class="container">
    <div class="profile__info">
        <div class="profile__info__picture">
            <img class="avatar-img" src="./images/avatar-icon.png" alt="{{userFromDB.firstName}} {{userFromDB.lastName}} Podapp profile.">
        </div>
        <div class="profile__details">
            <h1>{{data.userInfo.firstName}} {{data.userInfo.lastName}}</h1>
            <p class="bold">Favourite Genres</p>
                <ul class="profile__details__ul">
                {{#each data.userInfo.preferences}}
                    <a class="li__link" href="/podcasts/{{this}}"><li>#{{this}}</li></a>
                {{/each}}
                </ul>
            <a class="button" href="/profile/edit">Edit profile</a>
        </div>
    </div> <!-- /profile-info -->
    <div class="profile__statistics">
        <div class="stats">
            <img class="stats__img" src="/images/favorite.png" alt="Favorite podcast icon">
            <p class="medium">{{countStats data.favouritesArray}}</p>
            <p class="medium"> Favourites</p>
        </div>
        <div class="stats">
            <img class="stats__img" src="/images/comments-icon.png" alt="Comments on podcast icon">
            <p class="medium">{{countStats data.commentsArray}}</p>
            <p class="medium"> Comments</p>
        </div>
        <div class="stats">
            <img class="stats__img" src="/images/rating-icon.png" alt="Ratings on podcast icon">
            <p class="medium">{{countStats data.ratingsArray}}</p>
            <p class="medium"> Comments</p>
        </div>
    </div> <!-- /profile-statistics -->
    <div class="profile__podcast">
    {{#if lastSaved }}
        <h2>Last Saved Podcast</h2>
            <a class="card__podcast" href="/podcasts/profile/{{data.lastFavourited._id}}">
              <div class="card__podcast__image">
                  <img class="card__podcast__image_url"src="{{data.lastFavourited.image}}" alt="{{data.lastFavourited.title}}">
              </div>
              <div class="card__podcast__content">
                  <h3>{{data.lastFavourited.title}}</h3>
                  <p>{{data.lastFavourited.author}}</p>
              </div> 
            </a> <!-- /card__podcast -->  
    {{else }}
        <h2>3 Can't-Miss Podcasts</h2>
            {{#each podcastsDB }}
              <a class="card__podcast" href="/podcasts/profile/{{_id}}">
                <div class="card__podcast__image">
                    <img class="card__podcast__image_url"src="{{image}}" alt="{{title}}">
                </div>
                <div class="card__podcast__content">
                    <h3>{{title}}</h3>
                    <p>{{author}}</p>
                </div> 
              </a> <!-- /card__podcast -->  
             {{/each}}       
    {{/if}}
    </div> <!-- /profile-last-saved -->
</div> <!-- /container -->

