{{>navbar}}

<div class="container">
    <div class="podcast-profile-header-container">
        <img src="{{podcastDB.image}}" alt="podcast_image">
        <div class="podcast-profile-header-text-container">
            <h1>{{podcastDB.title}}</h1>
            <p>{{podcastDB.author}}</>
            <p class="subtitle">{{dateFormat podcastDB.pub_date "dddd, MMMM Do YYYY"}}</p>
        </div>
    </div>
    <hr class="solid">
    <div class="podcast-profile-actions-container">

        {{#if loggedUser}}
        <div>
            <audio controls src={{podcastDB.audio}}> </audio>
            {{#if favouritedPocast}}
            <div>
                <i class="fas fa-check-circle"></i>
                <p class="icon-name">Included you list!</p>
            </div>
            {{else}}
            <a class="podcast-profile" href="/favourites/{{podcastDB._id}}">
                <i class="fas fa-heart"></i>
                <p class="icon-name">Add to Favourites</p>
            </a>
            {{/if}}
        </div>
        {{else}}
            <a class="podcast-profile" href="/login">
                <i class="far fa-play-circle"></i>
                <p class="icon-name">Play</p>
            </a>
            <a class="podcast-profile" href="/login">
                <i class="fas fa-heart"></i>
                <p class="icon-name">Favourite</p>
            </a>
            {{#each (formatAudioLength podcastDB.audio_length)}}
                <p class="minutes subtitle">{{this}}</p>
            {{/each}}
        {{/if}}


        {{#if podcastDB.ratings}}
        <div>
            {{#each (ratingStars podcastDB.ratings) }}
                <i class="fas fa-star"></i>
            {{/each}}
            {{#each (missingStars podcastDB.ratings) }}
                <i class="far fa-star"></i>
            {{/each}}
        </div>
        {{/if}}

        {{#if loggedUser}}
            {{#if (userRatedAlready userID podcastDB.ratings)}}
                <a href="/podcast/{{podcastDB._id}}/rating">Rate this Podcast!</a>
            {{/if}}
        {{/if}}
    </div>
    <hr class="solid">
    <div class="podcast-profile-description-container">
        <h2>Description</h2>
        <p>{{podcastDB.description}}</p>
    </div>

    {{#each podcastDB.comments}}
    <div>
        <p>{{this.content}}</p>
        {{#ifUserComment this.author._id ../loggedUser ../podcastDB this._id}}
            <a href="/podcast/{{podcastDB._id}}/comment/{{commentID}}/edit">
                <i class="far fa-edit"></i>
                <p>Edit</p>
            </a>

            <form action="/podcast/{{podcastDB._id}}/comment/{{commentID}}/delete" method="POST">
                <button><i class="fas fa-trash-alt fa-lg" style="color:#8E1515"></i></button>
            </form>

        {{/ifUserComment}}
        <p>By {{this.author.firstName}} {{this.author.lastName}}</p>
    </div>
    {{/each}}

    {{#if loggedUser}}
    <form action="{{podcastDB._id}}/addComment" method="POST">
        <div class="podcast-profile-comment">
            <label for="text">New comment</label>
            <textarea aria-describedby="text" name="text" required></textarea>
            <div>Write on {{podcastDB.title}}'s wall.</div>
        </div>
        <button class="podcast-profile-comment-btn" type="submit">Post comment</button>
    </form>
    {{/if}}
</div>