{{>navbar}}

<div class="container">
    <div class="podcast__header">
        <img class="podcast__header__img" src="{{podcastDB.image}}" alt="podcast_image">
        <div class="podcast__header__details">
            <h1>{{podcastDB.title}}</h1>
            <p >{{podcastDB.author}}<p/>
            <p class="subtitle">{{dateFormat podcastDB.pub_date "dddd, MMMM Do YYYY"}}</p>
        </div>
    </div>

    <hr class="solid">
    
    <div class="podcast-profile-actions-container">
        {{#if loggedUser}}
        <div class="profile-actions-left">
            <audio controls src={{podcastDB.audio}}> </audio>
            {{#if favouritedPocast}}
            <div class="podcast-profile">
                <i class="fas fa-check-circle"></i>
                <p class="icon-name">Saved!</p>
            </div>
            {{else}}
            <a class="podcast-profile" href="/favourites/{{podcastDB._id}}">
                <i class="fas fa-heart"></i>
                <p class="icon-name">Add to Favourites</p>
            </a>
            {{/if}}
        </div>

        {{else}}
        <div class="profile-actions-left">
            <a class="podcast-profile" href="/login">
                <i class="far fa-play-circle fa-2x"></i>
                <p class="icon-name">Play</p>
            </a>
            <a class="podcast-profile" href="/login">
                <i class="fab fa-gratipay fa-2x"></i>
                <p class="icon-name">Favourite</p>
            </a>
        </div>
        {{/if}}

        <div class="profile-actions-right">
            <div class="profile-actions-right-stars">
                {{#if podcastDB.ratings}}
                    {{#each (ratingStars podcastDB.ratings) }}
                        <i class="fas fa-star" style="color:#F5EA61"></i>
                    {{/each}}
                    {{#each (missingStars podcastDB.ratings) }}
                        <i class="far fa-star" style="color:#F5EA61"></i>
                    {{/each}}
                {{/if}}
            </div>

            <div class="profile-actions-right-bottom">
                {{#if loggedUser}}
                    {{#if (userRatedAlready userID podcastDB.ratings)}}
                        <a href="/podcast/{{podcastDB._id}}/rating">Rate this Podcast!</a>
                    {{/if}}
                {{else}}
                    {{#each (formatAudioLength podcastDB.audio_length)}}
                        <p class="minutes">Duration: {{this}}</p>
                    {{/each}}
                {{/if}}
            </div>
        </div>
</div>

    <hr class="solid">

    <div class="podcast-profile-description-container">
        <h2>Description</h2>
        <p>{{podcastDB.description}}</p>
    </div>

    {{#if podcastDB.comments}}
        <hr class="solid">
    {{/if}}

    {{#each podcastDB.comments}}
    <div class="podcast-profile-comments-container">

        <div class="podcast-profile-comments-header">
            <div class="podcast-profile-comment-other-user">
                <img src={{this.author.profilePicture}} alt="">
                <p><strong>{{this.author.firstName}} {{this.author.lastName}}</strong></p>
            </div>
            <p>{{this.content}}</p>
        </div>

        <div class="podcast-profile-comments-footer">
            {{#ifUserComment this.author._id ../userID ../podcastDB this._id}}
                <div class="podcast-profile-comments-buttons">

                    <a href="/podcast/{{podcastDB._id}}/comment/{{commentID}}/edit">
                        <i class="far fa-edit"></i>
                    </a>

                    <form action="/podcast/{{podcastDB._id}}/comment/{{commentID}}/delete" method="POST">
                        <button class="trash-delete"><i class="fas fa-trash-alt fa-sm" style="color:#8E1515"></i></button>
                    </form>
                </div>
            {{/ifUserComment}}
        </div>
    </div>
    {{/each}}

    {{#if podcastDB.comments}}
        {{#if loggedUser}}
            <hr class="solid">
          {{/if}}
    {{/if}}

    {{#if loggedUser}}
    <div class="podcast-profile-comment">
        <div class="podcast-profile-comment-user">
            <img src={{userData.profilePicture}} alt="">
            <p><strong>{{userData.firstName}} {{userData.lastName}}</strong></p>
        </div>

        <form class="podcast-profile-comment-form" action="{{podcastDB._id}}/addComment" method="POST">
                <textarea class="podcast-profile-comment-form-content" ria-describedby="text" name="text" required></textarea>
                <button class="button-comment" type="submit">Comment</button>
        </form>
    </div>
    {{/if}}
</div>